In [1]:
import numpy as np

In [2]:
import pandas as pd


# Read data

In [3]:
movie_info = pd.read_csv('../../data/pre-processed/movie_all.csv').iloc[:, 1:]

In [4]:
movie_info.head()

,movie_id,count,mean,std,min,10%,20%,30%,40%,50%,...,category_Film-Noir,category_Horror,category_Musical,category_Mystery,category_Romance,category_Sci-Fi,category_Thriller,category_War,category_Western,name
0,1,2077.0,4.146846,0.852349,1.0,3.0,3.0,4.0,4.0,4.0,...,0,0,0,0,0,0,0,0,0,Toy Story (1995)
1,10,888.0,3.540541,0.891233,1.0,2.0,3.0,3.0,3.0,4.0,...,0,0,0,0,0,0,1,0,0,GoldenEye (1995)
2,100,128.0,3.062500,0.961872,1.0,2.0,2.0,3.0,3.0,3.0,...,0,0,0,0,0,0,1,0,0,City Hall (1996)
3,1000,20.0,3.050000,1.234376,1.0,1.0,2.0,2.7,3.0,3.0,...,0,0,0,0,0,0,0,0,0,Curdled (1996)
4,1002,8.0,4.250000,0.886405,3.0,3.0,3.4,4.0,4.0,4.5,...,0,0,0,0,0,0,0,0,0,Ed's Next Move (1996)

In [5]:
movie_info.columns

Index([u'movie_id', u'count', u'mean', u'std', u'min', u'10%', u'20%', u'30%',
       u'40%', u'50%', u'60%', u'70%', u'80%', u'90%', u'max',
       u'category_Action', u'category_Adventure', u'category_Animation',
       u'category_Children's', u'category_Comedy', u'category_Crime',
       u'category_Documentary', u'category_Drama', u'category_Fantasy',
       u'category_Film-Noir', u'category_Horror', u'category_Musical',
       u'category_Mystery', u'category_Romance', u'category_Sci-Fi',
       u'category_Thriller', u'category_War', u'category_Western', u'name'],
      dtype='object')

### train test seperate

In [6]:
feature_cols = [u'category_Animation', u'category_Children\'s', u'category_Comedy',
       u'category_Crime', u'category_Documentary', u'category_Drama',
       u'category_Fantasy', u'category_Film-Noir', u'category_Horror',
       u'category_Musical', u'category_Mystery', u'category_Romance',
       u'category_Sci-Fi', u'category_Thriller', u'category_War',
       u'category_Western']
test_cols = [u'count', u'mean', u'std', u'min', u'10%', u'20%', u'30%',
       u'40%', u'50%', u'60%', u'70%', u'80%', u'90%', u'max']

In [7]:
x_train = movie_info[feature_cols].loc[:int(0.8 * len(movie_info))]
print len(x_train)
x_train.head()

2965

,category_Animation,category_Children's,category_Comedy,category_Crime,category_Documentary,category_Drama,category_Fantasy,category_Film-Noir,category_Horror,category_Musical,category_Mystery,category_Romance,category_Sci-Fi,category_Thriller,category_War,category_Western
0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [8]:
y_train = movie_info[test_cols].loc[:int(0.8 * len(movie_info))]
print len(y_train)
y_train.head()

2965

,count,mean,std,min,10%,20%,30%,40%,50%,60%,70%,80%,90%,max
0,2077.0,4.146846,0.852349,1.0,3.0,3.0,4.0,4.0,4.0,4.0,5.0,5.0,5.0,5.0
1,888.0,3.540541,0.891233,1.0,2.0,3.0,3.0,3.0,4.0,4.0,4.0,4.0,5.0,5.0
2,128.0,3.062500,0.961872,1.0,2.0,2.0,3.0,3.0,3.0,3.0,3.9,4.0,4.0,5.0
3,20.0,3.050000,1.234376,1.0,1.0,2.0,2.7,3.0,3.0,3.4,4.0,4.0,4.1,5.0
4,8.0,4.250000,0.886405,3.0,3.0,3.4,4.0,4.0,4.5,5.0,5.0,5.0,5.0,5.0

In [9]:
x_test = movie_info[feature_cols].loc[int(0.8 * len(movie_info)):]
print len(x_test)
x_test.head()

742

,category_Animation,category_Children's,category_Comedy,category_Crime,category_Documentary,category_Drama,category_Fantasy,category_Film-Noir,category_Horror,category_Musical,category_Mystery,category_Romance,category_Sci-Fi,category_Thriller,category_War,category_Western
2964,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
2965,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2966,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2967,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2968,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [10]:
y_test = movie_info[test_cols].loc[int(0.8 * len(movie_info)):]
print len(y_test)
y_test.head()

742

,count,mean,std,min,10%,20%,30%,40%,50%,60%,70%,80%,90%,max
2964,375.0,3.909333,0.844797,1.0,3.0,3.0,4.0,4.0,4.0,4.0,4.0,5.0,5.0,5.0
2965,89.0,2.887640,1.142547,1.0,1.0,2.0,2.0,3.0,3.0,3.0,3.0,4.0,4.0,5.0
2966,42.0,2.619048,1.188407,1.0,1.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,4.0,5.0
2967,47.0,2.638298,1.420740,1.0,1.0,1.0,1.8,2.0,3.0,3.0,3.0,4.0,5.0,5.0
2968,40.0,2.900000,1.007663,1.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,4.0,4.0,5.0

### scale

In [11]:
max_value = {'count':6040, 'mean':5, 'std':4, 'min':5, '10%':5, '20%':5, '30%':5,
       '40%':5, '50%':5, '60%':5, '70%':5, '80%':5, '90%':5, 'max':5} #6040 = number of users

In [12]:
for key in max_value.keys():
    if max_value[key] == -1:
        max_value[key] = np.max(y_train[key])
print max_value

{'std': 4, 'max': 5, '10%': 5, '60%': 5, '20%': 5, '70%': 5, '30%': 5, 'count': 6040, '40%': 5, 'min': 5, '50%': 5, '80%': 5, '90%': 5, 'mean': 5}

In [13]:
for key in test_cols:
    y_train[key] /= max_value[key]
    y_test[key] /= max_value[key]
print y_train.head()
print y_test.head()

      count      mean       std  min  10%   20%   30%  40%  50%   60%   70%  \
0  0.343874  0.829369  0.213087  0.2  0.6  0.60  0.80  0.8  0.8  0.80  1.00
1  0.147020  0.708108  0.222808  0.2  0.4  0.60  0.60  0.6  0.8  0.80  0.80
2  0.021192  0.612500  0.240468  0.2  0.4  0.40  0.60  0.6  0.6  0.60  0.78
3  0.003311  0.610000  0.308594  0.2  0.2  0.40  0.54  0.6  0.6  0.68  0.80
4  0.001325  0.850000  0.221601  0.6  0.6  0.68  0.80  0.8  0.9  1.00  1.00

   80%   90%  max
0  1.0  1.00  1.0
1  0.8  1.00  1.0
2  0.8  0.80  1.0
3  0.8  0.82  1.0
4  1.0  1.00  1.0
         count      mean       std  min  10%  20%   30%  40%  50%  60%  70%  \
2964  0.062086  0.781867  0.211199  0.2  0.6  0.6  0.80  0.8  0.8  0.8  0.8
2965  0.014735  0.577528  0.285637  0.2  0.2  0.4  0.40  0.6  0.6  0.6  0.6
2966  0.006954  0.523810  0.297102  0.2  0.2  0.4  0.40  0.4  0.6  0.6  0.6
2967  0.007781  0.527660  0.355185  0.2  0.2  0.2  0.36  0.4  0.6  0.6  0.6
2968  0.006623  0.580000  0.251916  0.2  0.4  0.4  0.40  0.6  0.6  0.6  0.6

      80%  90%  max
2964  1.0  1.0  1.0
2965  0.8  0.8  1.0
2966  0.6  0.8  1.0
2967  0.8  1.0  1.0
2968  0.8  0.8  1.0

In [15]:
x_train.to_csv('../../data/input_formated/v0.5/x_train.csv')

In [16]:
y_train.to_csv('../../data/input_formated/v0.5/y_train.csv')

In [17]:
x_test.to_csv('../../data/input_formated/v0.5/x_test.csv')

In [18]:
y_test.to_csv('../../data/input_formated/v0.5/y_test.csv')